/*----------------------------------------board---------------------------------------------*/

.board {
    margin-top: 13em;
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
}

/*------------------------------------board-player------------------------------------------*/

.board-player > div {
    display: flex;
}

.board-player > div > p:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
}

.board-player > div:nth-child(1) {
    margin-bottom: 2em;
}

.board-player > div:nth-child(3) {
    margin-top: 2em;
}

.board-player > div:nth-child(3) > input {
    width : 25.4em;
    height: 3em;
}

.board-player > div:nth-child(1) > input,
.board-player > div:nth-child(2) > input {
    margin-left: 2em;
}

.board-player > div:nth-child(1) > p:nth-child(2),
.board-player > div:nth-child(2) > p:nth-child(2) {
    margin: auto 0 auto 2em;
    font-size: 1.5em;
    font-weight: bold;
}
/*-------------------------------------board game-------------------------------------------*/

.board-game {
    width : 30em;
    height : 30em;
    border : 3pt solid var(--dark-gray-color);
    position : absolute;
    top : 30%;
    left : 40.5%;
    border-radius : 10pt;
}

.board-game > div {
    display: flex;
}

.board-game > div > div {
    width: 10em;
    height: 9.9em;
    border: 1pt solid var(--dark-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------cross and circle-------------------------------------*/

.cross-game {
    margin : 0;
    width: 60pt;
    height: 60pt;
    transform: scale(1.3);
}

.cross-game::before{
    background: var(--black-color);
    position: absolute;
    display:block;
    content:'';
    width: 70%;
    height: 6%;
    top: 47%;
    left: 15%;
    transform: rotate(45deg);
}

.cross-game::after{
    background: var(--black-color);
    position: absolute;
    display:block;
    content:'';
    width: 6%;
    height: 70%;
    left: 47%;
    top: 15%;
    transform: rotate(45deg);
}

.circle-game {
    width: 40pt;
    height: 40pt;
    border-radius: 40pt;
    border : 4pt solid var(--black-color);
}

/*---------------------------------------message-------------------------------------------*/

.message {
    text-align: center;
    margin: 20em auto;
    border : 3pt solid var(--dark-gray-color);
    width: 30em;
    height : 5em;
    display : flex;
    align-items: center;
    justify-content: center;
}

.message > p {
    font-weight: bold;
}